.profile-header {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.profile-member {
	font-size: 1.7rem;
	font-weight: bold;
}

.profile-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.profile-img {
	width: 80%;
	max-width: 500px;
	margin: 20px;
}
